.block-overlay {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    p {
        font-size: 2.5em;
        opacity: 1;
        color: white;
    }
}