.block-dialog-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darken(white, 10%);
    z-index: 9999;

    .block-dialog {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: 30vw;
        align-items: center;
        justify-content: center;
        padding: 48px;
        background-color: white;
        border: 1px solid;
        border-color: black;
        border-radius: 5px;

        img{
            //padding-bottom: 32px;
            max-width: 20vw;
            max-height: 20vw;
        }

        p{
            font-size: 2.5em;
            font-weight: 450;
            line-height: 1.1em;
        }

        .close{
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 24px;

            &:hover{
                cursor: pointer;
                color: lighten(black, 25%);
            }
        }
    }
}