@import '~normalize-scss/sass/normalize';
@import './palette';
@include normalize();
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: ghostwhite;
}