@import "./common";
@import "~formbase/src/styles/main";
@import "./blockdialog";
@import "./blockoverlay";
@import "./segmented";

$tabs-base-color: $color-accent;
.title-label {
    font-weight: bold;
}

.block-dialog-container{
    width: unset;
    height: unset;

    p{
        font-size: 1.5em !important;
    }
}

.options {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    button {
        height: 48px;
        padding: 0 16px;
    }
    input {
        height: 48px;
    }
}

.tabs {
    width: 650px;
    list-style: none;
    position: relative;
    margin: 24px 0 0 10px;
    text-align: left;
    .tab {
        float: left;
        display: block;
    }
    input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px;
    }
    .tab-label {
        display: block;
        padding: 14px 21px;
        border-radius: 2px 2px 0 0;
        font-size: 20px;
        font-weight: normal;
        text-transform: uppercase;
        background: $tabs-base-color;
        color: $dark-background-text-color;
        cursor: pointer;
        position: relative;
        top: 4px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background: darken($tabs-base-color, 10);
        }
    }
    .tab-content {
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        font-size: 17px;
        line-height: 25px;
        padding: 25px;
        position: absolute;
        top: 53px;
        left: 0;
        background: darken(white, 15);
    }
    [id^="tab"]:checked+.tab-label {
        top: 0;
        padding-top: 17px;
        background: darken($tabs-base-color, 15);
    }
    [id^="tab"]:checked~[id^="tab-content"] {
        display: block;
    }
}

#import {
    display: none;
}

.keyword-table {
    $cell-padding: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
    .center-cell-content {
        text-align: center;
        vertical-align: middle;
    }
    .column-keyword {
        width: 70%;
    }
    .column-block-partial {
        width: 15%;
    }
    .column-delete {
        width: 15%;
    }
    thead {
        background-color: $table-header-background;
        color: $dark-background-text-color;
        th {
            height: 48px;
            padding: $cell-padding;
            &:second-child {
                width: 50%;
            }
        }
    }
    tbody {
        tr {
            &:nth-child(even) {
                background-color: $table-row-even;
            }
            &:nth-child(odd) {
                background-color: $table-row-odd;
            }
            &:second-child {
                width: 50%;
            }
        }
        td {
            padding: $cell-padding;
        }
    }
    .keyword {
        width: 100%;
        text-indent: 12px;
        height: 48px;
        width: 100%;
    }
    .button {
        height: 48px;
        width: 48px;
        border: 0;
        border-radius: 0;
        background: none;
        outline: none;
        cursor: pointer;
        &:hover {
            color: lighten(black, 20%);
        }
    }
    .block-partial {
        cursor: pointer;
    }
}

#options-menu{
    display: none;
}

#password-menu {
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;

    .password-wrapper {
        padding: 32px;
        border-radius: 7px;
        background-color: darken(white, 15%);
        width: 420px;

        .password {
            text-indent: 12px;
            width: 100%;
            height: 48px;
        }

        .password-error{
            color: red;
        }
    }
}