$background: white;
$main-text-color: black;
$dark-background-text-color: white;
$color-accent: #cc181e;
$table-header-background: black;
$table-row-even: darken($background, 25%);
$table-row-odd: $background;