<li class="tab">
    <input type="radio" name="tabs" id="tab3" />
    <label class="tab-label" for="tab3" role="tab" aria-selected="false" aria-controls="panel3" tabindex="0">Channels</label>
    <div id="tab-content3" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div class="description">
            <p>
                Here you can add channels that should be blocked by Keyword Blocker.
                Normally Keyword Blocker matches the whole name of the channel but if you use the wildcard option than partial matches are also blocked.
            </p>
            <p>
                For example if you add Test as a blocked channel only the channnel named Test will be blocked.
                If you enable the wildcard option Test Channel, Test Tube etc will also be blocked.
            </p>
            <p>
                Channel blocking is case insensitive and regular expressions are supported for advanced users.
            </p>
        </div>
        <table class="keyword-table">
            <thead>
                <tr>
                    <th class="column-keyword">Channel</th>
                    <th class="column-block-partial">Wildcard</th>
                    <th class="column-delete"></th>
                </tr>
            </thead>
            <tbody id="channels">
            </tbody>
        </table>
    </div>
    </div>
</li>