<li class="tab">
    <input type="radio" name="tabs" id="tab2" />
    <label class="tab-label" for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Keywords</label>
    <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
        <div class="description">
            <p>
                Describe how the keyword blocklist works with example for wildcard.
            </p>
        </div>
        <table class="keyword-table">
            <thead>
                <tr>
                    <th class="column-keyword">Keyword</th>
                    <th class="column-block-partial">Wildcard</th>
                    <th class="column-delete"></th>
                </tr>
            </thead>
            <tbody id="keywords">
            </tbody>
        </table>
    </div>
</li>