<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Keyword Blocker | Popup</title>
</head>
<body>
  <div class="popup">
    <h1>Keyword Blocker</h1>
    <button id="open-options" class="btn">options</button>
  </div>
</body>
</html>